{% extends 'base.html' %}

{% block title %} Ваш профиль {% endblock %}

{% block content %}
<div class="container mt-4">
<h2 class="mt-5 mb-5">Профиль пользователя</h2>


    <div class="row">
        <div class="col-md-3">
            {% if user_profile.avatar %}
                <img src="{{ user_profile.avatar.url }}" alt="Аватар" style="width: 200px; height: 200px; border-radius: 50%;">
                    {% else %}
                        <p>Загрузите аватар </p>
            {% endif %}

        </div>
                <div class="col-md-9">
                    <p>Имя: {{ user_profile.username }}</p>
                    <p>Email: {{ user_profile.email }}</p>
                    <p>Страна: {{ user_profile.country }}</p>
                    <p>Телефон: {{ user_profile.phone_number }}</p>
                    <p>Роль Пользователя: {{ user_profile.role }}</p>
                </div>
    </div>


<a href="{% url 'clients:user_profile_edit' %}" class="nav-link">
    <i class="bi bi-pencil"></i> Редактировать профиль
</a>
{% if user_profile.role == 'manager' %}
<ul class="list-unstyled">
    <li>
        <a href="{% url 'Users:user_list' %}" class='btn btn-primary btn-sm mt-3 mb-3'>Список пользователей</a>
        <a href="{% url 'clients:email_statistic' %}" class='btn btn-primary btn-sm mt-3 mb-3'>Статистика рассылок</a>
        <a href="{% url 'products:category_list' %}" class='btn btn-primary btn-sm mt-3 mb-3'>Список категорий</a>
    </li>
</ul>
{% endif %}
{% endblock %}
</div>
